.dashboard-main-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/bg-img.png");
    height: 100vh;
    animation: fadeInOut 1s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.dashboard-logo-header {
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    /* gap: 20px; */
}

.dashboard-logo-header .datetime {
    text-wrap: nowrap;
    margin-left: 100px;
    font-size: 36px;
    padding-top: 30px;
}

.logout-icon {
    margin-top: 30px;
    zoom: 1.2;
    /* width: 50px; */
    height: 50px;
    cursor: pointer;
    will-change: transform;
    backface-visibility: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    font-size: 30px;
}

.power-icon {
    font-size: 50px;
    cursor: pointer;
}

.db-main-container {
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    min-height: 600px;
    zoom: 1.3;
}

.upper-container {
    height: 340px;
    margin-bottom: 40px;
    column-gap: 40px;
    display: grid;
    grid-template-columns: 65% auto;
}

.side-options {
    height: 100%;
}

.livetv-box {
    background:
        linear-gradient(231.82deg, #0b1a3b 1.99%, #094279 93.05%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border: 1px solid white;
    border-radius: 15px;
    height: 100%;
    height: 100%;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.livetv-box p {
    font-weight: 500;
    font-style: Medium;
    margin-left: 50px;
    font-size: 50px;
    line-height: 111.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
}

.livetv-box img {
    width: 200px;
    zoom: 1.1;
    margin-bottom: 30px;
    height: 200px;
}

.movies-box {
    background:
        linear-gradient(231.82deg, #0b1a3b 1.99%, #094279 93.05%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 15px;
    will-change: transform;
}

.movies-box p {
    font-weight: 500;
    font-style: Medium;
    margin-left: 50px;
    font-size: 40px;
    line-height: 111.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
}

.movies-box img {
    width: 170px;
    height: 170px;
}

.series-box {
    background:
        linear-gradient(231.82deg, #0b1a3b 1.99%, #094279 93.05%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 15px;
    will-change: transform;
}

.series-box p {
    font-weight: 500;
    font-style: Medium;
    margin-left: 50px;
    font-size: 40px;
    line-height: 111.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
}

.series-box img {
    width: 170px;
    height: 170px;
}

.lower-container {
    height: 200px;
    display: grid;
    column-gap: 40px;

    grid-template-columns: auto auto;
}

.series-box {
    background-color: brown;
}

.side-options {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
}

.side-option {
    padding-top: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    border-radius: 15px;
    background: #00000038;

    font-size: 30px;
    padding-bottom: 20px;
    border: 1px solid #ffffff;
    padding-left: 45px;
    padding-right: 45px;
    will-change: transform;
}

.side-option svg {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.menu-box-focused {
    border: 1px solid #ffffff !important;
    box-shadow: 0 0 0 3px #ffffff;
    transform: scale(1.05) translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
    will-change: transform, box-shadow;
}

.logout-icon.menu-box-focused {
    transform: scale(1.2);
}


.footer-dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-expiration {
    font-size: 40px;
}

.footer-logged-in {
    font-size: 40px;

}