
.settings-inner-container{
  background-size: cover;
  width: 100%;
    height: 100vh;
padding-right: 40px;
padding-left: 40px;
  background-position: center;
  position: fixed;
  background-image: url("../assets/bg-img.png");
}
.settings-main-container {
width: 100%;
height: 80vh;
    color: white; 
    animation: fadeInOut 1s ease-in-out;
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 114px;

    box-sizing: border-box;
    font-size: 50px;
  /* background: rgba(0, 0, 0, 0.49); */


}

.settings-content2-container{
  width: 100%;
  display: flex;
  box-shadow: 0px 0px 118.3px 3px rgba(55, 155, 254, 0.28);
  background: rgba(0, 0, 0, 0.49);


}

.settings-first-container h1 {
  font-size: 60px;
  font-weight: 500;
  padding-left: 40px;
  padding-bottom: 40px;
}

.settings-first-container {
  width: 50%;
  padding-left: 70px;
  padding-top: 70px;
  padding-right: 70px;
  padding-bottom: 80px;

}

.settings-first-content {
  display: flex;
  flex-direction: column;
}

.settings-second-container {
  width: 50%;
  padding-right: 70px;
  transition: all 0.3s ease-in-out;
    padding-top: 80px;
  padding-bottom: 80px;

}

.settings-pages-container p {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 46px;
  padding-right: 46px;
  font-weight: 400;
  background-color: transparent;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}

.settings-pages-container p img {
  object-fit: contain;
  zoom: 1.1;
  padding-right: 28px;
  height: 48px;
}

.settings-pages-container-image-active {
  object-fit: contain;
  zoom: 1.1;
  padding-right: 28px;
  /* filter: grayscale(100%) brightness(0) saturate(100%); */
  height: 48px;
}

.settings-pages-container-active {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 46px;
  border-radius: 99px;
  padding-right: 46px;
  color: white !important;
  background-color: var(--gold) !important;
  align-items: center;
  margin-bottom: 30px;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.settings-inner-container{
  background-attachment: red;
}

.settings-divider{
  height: 100%;
  display: flex;
  align-items: center;
}

.settings-divider-line{
    height: 90%;
  width: 3px;
  background-color: var(--gold);
}