* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

:root {
    --gold: #2daae3;
    --dark-panel: rgba(7, 12, 12, 0.85);
    --panel-border: rgba(255, 255, 255, 0.04);
    --card-bg: rgba(0, 0, 0, 0.45);
    --accent: #ffb84d;
    --white: #ffffff;
}

.main-container {
    height: 100vh;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body::-webkit-scrollbar {
    display: none;
    opacity: 0;
}

.scroll-container {
    scroll-behavior: smooth;
    /* some Tizen versions support this */
}

.movie-no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: var(--gold);
    font-size: 60px;
    font-weight: 600;
}

.movie-no-data p {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    word-break: break-all;
}

.loading-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}

.loading-overlay.hidden {
    display: none;
}

.spinner {
    width: 80px;
    height: 80px;
    /* border: 4px solid rgba(188, 188, 188, 0.2); */
    border-top: 3px solid var(--gold, #2daae3);
    border-right: 3px solid var(--gold, #2daae3);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Optional: Add "Loading..." text */
.loading-text {
    margin-top: 15px;
    font-size: 1.2rem;
    color: var(--gold, #f5c518);
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    animation: fadeBlink 1.5s infinite;
}

@keyframes fadeBlink {

    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}

#loading-overlay #loading-progress {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 30px;
}

.setting-label {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.setting-login-header img {
    max-width: 100%;
    height: auto;
}

.datetime {
    font-size: 30px;
    display: flex;
    gap: 15px;
    white-space: nowrap;
    overflow: hidden;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}


#loading-message {
    font-size: 30px;
    color: var(--gold);
    margin-top: 5px;
    text-align: center;
    max-width: 80%;
    min-height: 1.5em;
}